
            <?php if(empty($event)){ ?>
            Announcement not found
            <?php }else{ ?>
              <span class="pull-right"><?php echo date("m-d-Y", $event->eventDate) ?></span>
              <h3><?php echo $event->eventTitle ?></h3>
              <?php echo $event->eventDetails ?>
            <?php } ?>
          