// START Call-to-Action auth.AC:
.cta-container{
	.bg-image-dynamic();height: 150px;
	.cta-box{
		.size(90%,150px);.absolute-center();
	}
	.text-container{
		color: @dirty-white;padding-top: 25px;
		.text-title{
			font-size: 24pt;
		}
		.text{
			font-size: 12pt;
		}
	}
	.button-container{
		&:extend(.text-container);padding-top: 40px;
		.form-control{
			background:transparent;border-radius: 0px; font-size: 17px;
		}
		.form-group{
			margin: 10px 0px;
		}
		.donate-submit,
		.volunteer-submit{
			color: @white; border: 3px solid @white;height: 55px;
		}
		.donate-submit:hover,
		.volunteer-submit:hover{
			color: @green; border: 3px solid @green;
		}
	}
}
// END Call-to-Action auth.AC

// START MEDIA SCREEN: auth.AC
// @media screen and (max-width: 980px){
// 	.cta-container{
// 		.size(100%,250px);
// 	}
// 	.text-container{
// 		.nopad();.bg-image-dynamic();
// 		.text-title span{
// 			font-size: 18px;.open-sans-bold()
// 		}
// 		.text span{
// 			font-size: 16px;
// 		}
// 	}
// }
// @media screen and (max-width: 768px){
// 	.cta-container{
// 		.size(100%,300px);
// 	}
// 	.text-title span{
// 		font-size: 14px;.open-sans-bold()
// 	}
// 	.text span{
// 		font-size: 12px;
// 	}
// }
// @media screen and (max-width: 435px){
// 	.cta-container{
// 		.size(100%,350px);
// 	}
// 	.text-container{
// 		.nopad();.bg-image-dynamic();
// 		.text-title span{
// 			font-size: 14px;.open-sans-bold()
// 		}
// 		.text span{
// 			font-size: 12px;
// 		}
// 	}
// 	.button-container{
// 		.size(100%,0);top: 50px;
// 	}
// }
@media screen and (max-width: 1280px) , screen and (max-height: 1024px) {
  .donate-submit span, .volunteer-submit span{
  	font-size: 18px;
  }
  .cta-container{
  	 height: 170px;
  }
}
@media screen and (max-width: 450px){	/*540px*/
	.cta-container{
		.size(100%,350px);
		.text-container{
			.nopad();
			top:5px;
		.text-title span{
			font-size: 10px;.open-sans-bold();
		}
		.text span{
			font-size: 10px;
		}
		}
	}
}
@media (min-width: 451px) and (max-width: 767px){	/*541-700px*/
	.cta-container{
		.size(100%,300px);
		.text-container{
			.nopad();
			top:5px;
			.size(100%, 0);
		}
		.button-container{
			.size(100%, 0);
			top: 115px;
			.form-group .col-sm-6{
				.size(50%, 0);	
			}
		}
		.text-title span{
			font-size: 14px;.open-sans-bold();
		}
		.text span{
			font-size: 14px;
		}
	}
}
@media (min-width: 768px) and (max-width: 1200px){		/*701-768px*/
	.cta-container{
		.size(100%,200px);
		.text-container{
			.nopad();
			top:5px;
			.size(100%, 0);
		}
		.button-container{
			.size(100%, 0);
			top: 75px;
			.form-group .col-sm-6{
				.size(50%, 0);	
			}
		}
		.text-title span{
			font-size: 14px;.open-sans-bold();
		}
		.text span{
			font-size: 14px;
		}
	}	
}
// END MEDIA SCREEN: auth.AC