// START Headline: auth.AC
.headline-container{
	.size(100%,500px);position:relative;
}

.content-container{
	position: absolute;bottom: 0px; width: 99.5%;
	.open-sans();background-color: rgba(0,0,0,0.5); padding: 15px 30px;
	a{
		color: @dirty-white; text-decoration: none;
	}
}
.featured-container{
	width: 100%;
}
.content-title{
	font-size: 16pt;
}
.content{
	font-size: 8pt;
}
.content-box:hover{
	.content-container{
		background-color: rgba(0,0,0,0.9);text-decoration: none;
	}
}
.frame-lg{
	.bg-image-dynamic();padding: 0px 0px;/*padding-top: 410px;*/
	position:absolute;
}
.frame-md{
	.bg-image-dynamic();  
}
.frame-lg,.frame-md{
		&:hover{
		.content-container{
			background-color: rgba(0,0,0,0.9);text-decoration: none; cursor: pointer;
			.transition(all ease .5s);
		}
	}
}
.activitypad{
	padding:0px 0px 3px 3px!important;
}
.nobot{
	padding-bottom: 0px!important;
}
.absolutebot{
	bottom:3px!important;
}
.other-container{
	height: 34%;
}
// END Headline: auth.AC

// MEDIA SCREEN: auth.AC
@media screen and (max-width: 991px){
	.content-container{
		padding: 5px 20px;
	}
	.content-title{
		font-size: 16px;
	}
	.content{
		font-size: 10px;
	}
	/*.frame-lg{
		width: 33.33%;height: 400px;padding-top: 295px;float: left;
	}
	.frame-md{
		width: 33.33%;height: 200px;padding-top: 95px;float: right;
	}*/
}
@media screen and (max-width: 767px){
	.headline-container{
		height: inherit;
	}
	.content-container {
		padding: 10px 20px;
		width: 100%;
	}
	#frame-lg, #frame-md{
		height: 50%;
	}
	#frame-md .col-sm-6{
		width: 50%; float: left;
	}
	.activitypad{
		padding:0px 0px 0px 0px!important;
	}
	.absolutebot{
		bottom:0px!important;
	}
	.other-container {
		height: 45%;
	}
}
@media screen and (max-width: 845px){
/*	.frame-lg{
		width: 100%;height: 400px;padding-top: 325px;
	}
	.frame-md{
		width: 50%;height: 200px;padding-top: 110px;float: right;
	}*/
}
@media screen and (max-width: 455px){
	.content-title {
		font-size: 13px;
	}
	.content {
		font-size: 9px;
	}
	.content-container {
		padding: 5px 10px;
	}
	/*.frame-lg{
		width: 100%;height: 200px;padding: 0px 0px;padding-top: 95px;
	}
	.frame-md{
		width: 100%;height: 200px;padding: 0px 0px;padding-top: 95px;
	}*/
}