/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 */
.top-bg{
	.size(100%,55px); .bg-variant(@black); color: @dirty-white; padding-top: 10px;
}
.head-container,.nav-container{
	.size(91%,auto); margin: 0 auto; padding: 0px 15px;
	#header-details{
			padding:0px;
	}
}
.head-details{
	color:@gray; display: inline-block; .size(100%,100%); line-height: 2;
	i,label,span{
		vertical-align: middle; margin-right: 5px;
	}
}
#detail-email{
	display: inline-block; width: auto;
}
.head-search{
	height: 30px; border-radius: 15px; background-color: @dirty-white;
}
.search-icon{
	color:@black;line-height: 30px;right: 5px;
}
/* START Nav: auth.AC*/
.social-icon{
	color: @gray;
}
#nav-toggle{
	display: none;
}
nav{
	ul{
		padding: 21px 0px;
	}
	li{
		.open-sans-bold();font-size: 14pt;
	}
	a{
		color: @black;
	}
	a:hover{
		background-color: transparent !important;color: @green;text-decoration: none;
	}
	.brand{
		padding: 3.5px 0;
	}
}
.nav-hr{
	border: 0 solid #eeedef; border-top-width: 1px;.size(100%,0);margin: 0px;
}
// END Nav: auth.AC

nav.navbar.shrink {
  height: 60px;
  img{
  	width: 50%!important;
  }
  #nav-logo{
  	width: 30%!important;
  }
  #nav-abkreslogo{
  	line-height: 3!important;
  }
  ul {
  	padding: 0px!important;
  }
}
#nav-abklogo{
	width: 30%;float: left;
}
#nav-abkreslogo{
	width: 70%;float: left;line-height: 6;
	img{
		width: 90%;
	}
}
#nav-abkcertlogo{
	display: none;
}
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
/*END Nav: auth.AC*/

/* Media Section Starts Here */

@media screen and (max-width: 1350px){
	.head-container,.nav-container{
		width: 100%;
	}
}
@media only screen and (max-width: 1280px) , only screen and (max-height: 1024px) {
  .top-bg{
  	 height: 65px;
  }
  .head-details i, .head-details label, .head-details span{
  	 margin-right: 2px; font-size: 15px;
  }
}
@media screen and (max-width: 1225px){
	.top-bg{
		height: 70px;
	}
	.head-details i, .head-details label, .head-details span{
		margin-right: 2px;
	}
}
@media screen and (max-width: 1199px){
	/*#header-copyright, #header-search{
		width: 27%;
	}*/
	#header-details, #header-icons{
		width: 23%;
	}
	/*#header-search,#header-icons{
		padding-top: 10px; text-align: center;
	}*/
	.top-bg {
		height: 100px;
	}
	#nav-logo{
		width: 30%;
	}
	#nav-text{
		width: 53%;
		a{
			padding: 15px 10px;font-size: 15px;
		}
	}
	#nav-cert{
		width: 15%;
	}
	#nav-abkreslogo{
		text-align: right;
	}
}

@media screen and (max-width:1019px){
	.top-bg{
		height: 105px;
	}
	.head-container{
		height: 100%;text-align: center;
	}
	#header-copyright,#header-details,#header-search {
		.size(32%,65%);
	}
	#header-icons{
		.size(32%,20%);
	}
	#nav-text{
		padding: 0px;
	}
}
@media screen and (max-width:960px){
	#nav-logo{
		width: 75%; float: none;margin: 0 auto;padding-top: 10px;
		a{
			float: none!important;
		}
	}
	#nav-text{
	width: 80%; margin: 0px 20%; float: none;
	}
	#nav-cert{
		display: none;
	}
	#nav-abkcertlogo{
		display: inline-block;
		width: 20%;
	}
	#nav-abklogo{
		width: 15%;
	}
	#nav-abkreslogo{
		width: 65%;text-align: center;
		img{
			width: auto;
		}
	}
	/*nav on-scroll*/
	nav.navbar.shrink {
		height: 45px;
		img{
			display: none;
		}
		#nav-logo{
			display: none;
		}
		ul {
			padding: 0px!important;
		}
	}
}
@media screen and (max-width:820px){
	.top-bg{
		height: 150px;
	}
	.head-container, #header-icons{
		text-align: left;
	}
	#header-copyright,#header-details,#header-search {
		height: 60%;
	}
}
@media screen and (max-width:767px){
	#header-copyright, #header-details, #header-search,#header-icons{
		float: left; .size(50%,50%);text-align: center;
	}
	#header-copyright span{
		font-size: 10px;
	}
	.head-details i, .head-details label, .head-details span{
		font-size: 15px;
	}
	#header-icons i{
		font-size: 20px;
	}
	#header-search .form-control{
		width: 85%;margin:0 auto;
	}
	.search-icon{
		right: 25px;
	}
	#nav-toggle{
		display: block; padding: 0;margin-right: 0%;
	}
	#nav-logo{
		width: 100%;
		img{
			width: 100%;
		}
	}
	#nav-logo img{
		width: auto;
	}
	.navbar-nav{
		margin: 0 auto;
	}
	/*nav on-scroll*/
	nav.navbar.shrink {
		.navbar-toggle{
			&:hover{
				background-color: transparent;
			}
		}
	}
}
@media screen and (max-width:590px){
	#nav-logo img{
		width: 90%;
	}
	#nav-abkreslogo{
		line-height: 3;
	}
}
@media screen and (max-width:470px){
	.head-container #header-details{
		padding-left: 10px;
	}
	#header-copyright, #header-details{
		height: 60%;text-align: left;
	}
	#header-search,#header-icons{
		height: auto;text-align: left;
	}
	#header-search .form-control{
		margin:0;
	}
	.head-details i, .head-details label, .head-details span{
		font-size: 12px;
	}
	#header-icons{
		padding:0px;
	}
}
@media screen and (max-width:325px){
	#header-icons a{
		width: 25px;
	}
	#header-search{
		line-height: 3;
	}
	#header-copyright,#header-search{
		padding-left: 0px;
	}
	#header-copyright, #header-details{
		height: 65%;
	}
	#header-search, #header-icons{
		height: auto;
	}
}
/* Media Section Ends Here */
