

@abk-path: '../../../fonts/abk/';

@font-face {
  font-family: 'abkrescue';
  src:  url('@{abk-path}abkrescue.eot?nmj8ln');
  src:  url('@{abk-path}abkrescue.eot?nmj8ln#iefix') format('embedded-opentype'),
    url('@{abk-path}abkrescue.ttf?nmj8ln') format('truetype'),
    url('@{abk-path}abkrescue.woff?nmj8ln') format('woff'),
    url('@{abk-path}abkrescue.svg?nmj8ln#abkrescue') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abkrescue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-world:before {
  content: "\e900";
  /*font-size: 32px;*/
}
.ic-telephone:before {
  content: "\e901";
  /*font-size: 32px;*/
}
.ic-envelope:before {
  content: "\e902";
  /*font-size: 32px;*/
}
.ic-search:before {
  content: "\e903";
  /*font-size: 32px;*/
}
.ic-facebook:before {
  content: "\e904";
  /*font-size: 32px;*/
}
.ic-twitter:before {
  content: "\e905";
  /*font-size: 32px;*/
}
.ic-instagram:before {
  content: "\e906";
  /*font-size: 32px;*/
}
.ic-linkedin:before {
  content: "\e907";
  /*font-size: 32px;*/
}
